appdirs==1.4.0
click==6.3
ConfigArgParse==0.10.0
dateparser==0.3.4
enum==0.4.6
enum34==1.1.2
Flask==0.10.1
functools32==3.2.3.post2
future==0.15.2
gunicorn==19.3.0
honcho==0.6.6
itsdangerous==0.24
jdatetime==1.7.4
Jinja2==2.8
jsonschema==2.5.1
jsontableschema==0.5.1
MarkupSafe==0.23
ofxtools==0.3.8
pynab==0.6.8
-e git+https://github.com/scottrobertson/nYNABapi.git@c2f5d37214b5c18c76dd48e5e48612bd462e0ffe#egg=pynYNAB
python-dateutil==2.5.0
pytz==2015.7
PyYAML==3.11
regex==2016.3.2
requests==2.9.0
rfc3987==1.3.5
schematics==2.0.0.dev2
six==1.10.0
toolz==0.7.4
umalqurra==0.2
unicodecsv==0.14.1
Werkzeug==0.11.5
